.controle-conectado {
  .modal__table {
    margin-bottom: 0;

    .table__fixed {
      @include media($media__m) {
        width: 18%;
      }

      @include media($media__l) {
        width: 25%;
      }
    }

    .table__scroll {
      @include media($media__m) {
        left: 18%;

        th,
        td {
          width: 33.3%;
        }
      }

      @include media($media__l) {
        left: 25%;
      }
    }
  }

  .modal__body__header-table {
    margin-bottom: rem(90);
  }

  .modal__body__footer-table {
    margin-bottom: rem(115);
  }

  .modal__body__header-button-list__title {
    margin-bottom: rem(40);
  }

  .modal__body__header-button-list__item {
    float: none;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }

    @include media($media__m) {
      float: left;
      width: auto;
    }
  }

  .modal__body__paragraph {
    margin: rem(80) 0;
  }

  .modal__body__title__button {
    @include media($media__m) {
      margin-top: 0;
    }
  }

}
