.sem-fidelizacao {
  .modal__body__header-button-list__title {
    margin-bottom: rem(40);
  }

  .modal__body__header-table {
    margin-bottom: rem(90);
  }

  .modal__body__footer-table {
    margin-bottom: rem(115);
  }

  .modal__table {
    border-bottom: rem(1.2) solid $color__gray--light;

    table {
      width: 100%;
    }
  }

  .modal__table__wrapper {
    &:after {
      background: $color__gray--light;
    }
  }

  .table__fixed {
    width: 38%;

    @include media($media__m) {
      width: 30%;
    }

    @include media($media__l) {
      width: rem(230);
    }

    td {
      text-align: left;

      @include media($media__m) {
        text-align: left;
        padding-left: rem(60);
      }
    }
  }

  .table__scroll {
    left: 38%;

    @include media($media__m) {
      left: 30%;
      width: auto;
    }

    @include media($media__l) {
      left: rem(230);
      width: auto;
    }

    table {
      width: calc(27vw * 6);
    }
  }

  .modal__body__header-button-list__item {
    float: none;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }

    @include media($media__m) {
      float: left;
      width: auto;
    }
  }

  .modal__hidden-content-price-table-with-scroll {
    .modal__show-hidden-content__button {
      border: none;
      color: $color__purple;
      font-size: rem(16);
      margin-top: rem(40);
      font-family: $font__text--light;
      letter-spacing: -0.003em;
      display: inline-block;
      position: relative;
      padding: 0 rem(20) 0 0;

      @include media($media__m) {
        font-size: rem(21);
      }

      .modal__show-hidden-content__button__arrow {
        position: absolute;
        right: rem(2);
        width: rem(8);
        height: rem(8);

        svg {
          fill: $color__purple;
        }
      }

      &:active {
        top: rem(0);
      }

      &.clicked {
        color: $color__black;
        cursor: text;
      }
    }

    .modal__table {
      tbody tr:first-child {
        border-top: 0;
      }
      &.hidden-content {
        opacity: 0;
        height: 0;
        transition: opacity 610ms ease;

        &.visible {
          opacity: 1;
          height: auto;
        }
      }
    }
  }
}
