.modal-content--vertical {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 10;

  @include media($media__xl) {
    background: none;
  }
}

.modal__vertical__header {
  padding: rem(15) rem(20) rem(20);

  @include media($media__m) {
    padding: rem(20) rem(33);
  }

  @include media($media__xl) {
    width: 30%;
    padding: rem(120) rem(50) rem(60);
    vertical-align: top;
    float: left;
  }

  &.modal--gradient--magenta {
    background: transparent;
  }
}

.modal__vertical__body {
  width: 100%;
  padding: rem(10) rem(20);

  @include media($media__s) {
    padding: rem(10) rem(20);
  }

  @include media($media__m) {
    padding: rem(40) rem(45);
  }

  @include media($media__l) {
    min-height: 100%;
    float: right;
  }

  @include media($media__xl) {
    width: 70%;
    padding: rem(226) rem(100);
  }
}

.modal__vertical__logo {
  position: relative;
  display: inline-block;
  height: rem(50);
  width: rem(50);
  margin-bottom: rem(24);

  @include media($media__m) {
    height: rem(60);
    width: rem(60);
    margin-bottom: rem(34);
  }

  @include media($media__xl) {
    height: rem(68);
    width: rem(68);
    margin-bottom: rem(40);
  }

  svg {
    height: 100%;
    width: 100%;
  }

  @include setLogoColor();
}

.modal__vertical__table {
  font-size: rem(18);
  margin-top: rem(260);

  &.table {
    border-bottom: 0;
  }

  thead {
    border-bottom: 0;
  }

  tr {
    border-bottom: 0;
    color: $color__white;
  }

}
