@import "../../../config/_config";
@import "../../../common/_hidebysize";

%base-form {
  fieldset {
    margin-top: rem(50);

    &:first-child {
      margin-top: 0;
    }

    legend {
      color: $color__black;
      font-family: $font__text--regular;
      font-size: rem(16);
      margin-bottom: rem(15);
    }
  }

  label {
    position: relative;
    display: block;
    float: left;
    width: 100%;

    @include media ($media__m) {
      &.splited {
        width: 50%;
      }
    }

    &.error {
      .label {
        color: $color__alert--red;

        &:after {
          display: inline-block;
          width: rem(10);
          height: rem(10);
          margin-left: rem(3);
          margin-bottom: rem(-1);
          content: " ";
          background: url("/assets/icons/error.svg") no-repeat 50% 50%;
          background-size: cover;
        }
      }

      .base-text-input {
        border-color: $color__alert--red;
      }

      .base-select .Select-control {
        border-color: $color__alert--red;
      }
    }

    &.success {
      .base-text-input {
        color: $color__black;
      }

      .label.focused {
        &:after {
          display: inline-block;
          width: rem(10);
          height: rem(10);
          margin-left: rem(3);
          margin-bottom: rem(-1);
          content: " ";
          background: url("/assets/icons/success.svg") no-repeat 50% 50%;
          background-size: cover;
        }
      }
    }

    .label {
      font-size: rem(12);
      position: absolute;
      top: 50%;
      left: rem(25);
      margin-top: rem(-6);
      color: $color__gray;
      transition: all .1s ease-in-out;
      z-index: 15;
      display: inline-block;

      @include media ($media__l) {
        font-size: rem(14);
        margin-top: rem(-7);
      }

      @include media ($media__xl) {
        font-size: rem(16);
        margin-top: rem(-8);
      }

      &.focused {
        top: rem(20);
        font-size: rem(11);
        margin-top: 0;
      }
    }

    .textarea-label {
      @extend .label;

      top: rem(35);
    }

    .base-text-input {
      border: rem(1) solid $color__gray--light;
      font-size: rem(16);
      color: $color__gray;
      display: block;
      width: 100%;
      padding: rem(35) rem(25) rem(15);
      font-family: $font__text--regular;
      position: relative;
      background-color: $color__white;
      -webkit-appearance: none;
      border-radius: 0;

      &:-webkit-autofill {
        box-shadow: 0 0 rem(0) rem(1000) $color__white inset;
      }

      &:focus, &:active {
        padding: rem(35) rem(25) rem(15);
        background-color: $color__white;
        outline: 0;
        color: $color__black;
        font-size: rem(16);
      }
    }

    .base-textarea {
      @extend .base-text-input;

      min-height: rem(200);
      resize: vertical;
    }

    .base-select {
      &.has-value {
        .Select-control {
          color: $color__black;
        }
      }

      &.is-open {
        .Select-arrow-zone {
          transform: rotate(180deg);
        }
      }

      .Select-input {
        position: absolute;
        top: 0;
        left: 0;
      }

      .Select-control {
        cursor: pointer;
        border: rem(1) solid $color__gray--light;
        color: $color__gray;
        display: block;
        width: 100%;
        padding: rem(25);
        border-radius: 0;
        position: relative;
        background-color: $color__white;

        .Select-value-label, .Select-placeholder {
          font-family: $font__text--regular;
          font-size: rem(12);
          line-height: rem(12);
          display: block;

          @include media ($media__l) {
            font-size: rem(14);
            line-height: rem(14);
          }

          @include media ($media__xl) {
            font-size: rem(16);
            line-height: rem(16);
          }
        }
      }

      .Select-arrow-zone {
        display: inline-block;
        width: rem(12);
        height: rem(12);
        position: absolute;
        top: 50%;
        right: rem(25);
        margin-top: rem(-6);

        @include media ($media__l) {
          height: rem(14);
          width: rem(14);
        }

        @include media ($media__xl) {
          height: rem(16);
          width: rem(16);
        }

        .Select-arrow {
          display: inline-block;
          width: 100%;
          height: 100%;
          content: " ";
          background: url("/assets/icons/arrow-pink.svg") no-repeat 0 0;
          background-size: cover;
        }
      }

      .Select-menu-outer {
        background-color: $color__white;
        border: rem(1) solid $color__gray--light;
        border-top: 0;
        margin-top: rem(-2);
        max-height: rem(202);
        position: absolute;
        overflow: hidden;
        top: 100%;
        width: 100%;
        z-index: 20;
        -webkit-overflow-scrolling: touch;
      }

      .Select-menu {
        max-height: rem(202);
        overflow-y: auto;
        padding: rem(25)/2;
        padding-top: 0;

        .Select-noresults {
          padding: rem(15);
        }
      }

      .Select-option {
        box-sizing: border-box;
        background-color: $color__white;
        color: $color__gray;
        cursor: pointer;
        font-size: rem(12);
        display: block;
        padding: rem(10);
        position: relative;

        @include media ($media__l) {
          font-size: rem(14);
        }

        @include media ($media__xl) {
          font-size: rem(16);
        }

        &.is-selected {
          background-color: $color__white;
          color: $color__black;
        }

        &.is-focused {
          background-color: $color__gray--light;
          color: $color__black;
        }

        &.is-disabled {
          color: $color__black;
          font-weight: bold;
          font-size: rem(10);
          padding: rem(5) 0;
          margin-left: rem(10);
          margin-right: rem(10);
          margin-top: rem(20);
          text-transform: uppercase;

          &:first-child {
            margin-top: 0;
          }

          @include media ($media__l) {
            font-size: rem(11);
          }

          @include media ($media__xl) {
            font-size: rem(12);
          }

          &:after {
            width: 100%;
            height: rem(1);
            border-bottom: rem(1) solid $color__gray--light;
            z-index: 30;
            content: " ";
            position: absolute;
            bottom: rem(-1);
            left: 0;
          }
        }
      }
    }

    .radio-wrapper {
      @extend .base-text-input;
      @include clearfix;

      padding: rem(25);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:focus, &:active {
        padding: rem(25);

        .radio-text {
          color: $color__gray;
        }
      }

      &.checked {
        .radio-text {
          color: $color__black;
        }
      }

      input[type="radio"] {
        display: none;
      }

      .radio {
        display: inline-block;
        float: left;
        height: rem(14);
        width: rem(14);
        cursor: pointer;

        &:after {
          background-color: $color__pink;
        }

        &:hover {
          border-color: $color__pink;
        }

        @include media ($media__l) {
          height: rem(16);
          width: rem(16);
        }
      }

      .radio-text {
        display: inline-block;
        float: left;
        font-size: rem(12);
        line-height: rem(14);
        padding-left: rem(10);
        cursor: pointer;

        @include media ($media__l) {
          font-size: rem(16);
          line-height: rem(16);
          padding-left: rem(15);
        }
      }
    }
  }

  input[type="submit"] {
    cursor: pointer;
    padding: rem(25);
    background-color: $color__yellow;
    color: $color__black;
    width: 100%;
    font-size: rem(16);
    display: block;
    border: 0;
    margin-top: rem(50);
    border-radius: rem(2);
    font-family: $font__text--regular;
    -webkit-appearance: none;

    &:active {
      margin-top: rem(51);
      margin-bottom: rem(-1);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .feedback-messages {
    margin: rem(30) 0 0;
    position: relative;
    display: block;

    .status {
      display: inline-block;
      height: rem(30);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(30);

      &.loading {
        background: url("/assets/icons/loader.svg") no-repeat 0 0;
        background-size: cover;
      }

      &.error {
        background: url("/assets/icons/indisponivel.svg") no-repeat 0 0;
        background-size: cover;
      }
    }

    .feedback-messages__text {
      color: $color__gray;
      display: inline-block;
      font-size: rem(16);
      line-height: rem(30);
      padding-left: rem(40);
    }
  }
}
