@import '../../../components/products/channels-sprites.scss';

@keyframes kf-tooltip-open {
    0% { transform: scaleX(0) scaleY(0) translateY(1rem); opacity: 0; }
    34% { transform: scaleX(0.21) scaleY(1) translateY(0); opacity: 1; }
    89% { transform: scaleX(1.13) scaleY(0.92) translateY(0); opacity: 1; }
    100% { transform: scaleX(1) scaleY(1) translateY(0); opacity: 1; }
}
@keyframes kf-tooltip-close {
    0% { transform: scaleX(1) scaleY(1) translateY(0); opacity: 1; }
    34% { transform: scaleX(1.13) scaleY(0.92) translateY(0); opacity: 1; }
    89% { transform: scaleX(0.21) scaleY(1) translateY(0); opacity: 1; }
    100% { transform: scaleX(0) scaleY(0) translateY(1rem); opacity: 0; }
}

.table {
  .tv-hd & {
    overflow: visible;
  }
}

.table__tv-hd {
  position: relative;
  left: $size-s-negative-gap;
  width: 100vw;


  @include media($media__m) {
    left: $size-m-negative-gap;
  }

  @include media($media__l) {
    border-bottom: rem(1.2) solid $color__gray--light;
    left: 0;
    width: 100%;

    &:after {
      @include horizontal-after-line($color__gray--light, 100vw);
      @include absolute-center(100vw);
      top: rem(50);

      .main--page-with-cards & {
        top: rem(151);
      }
    }

    &.table__tv-hd--modal {
      border-bottom: rem(1.2) solid $color__black;
      border-top: rem(1.2) solid $color__black;
      padding-top: rem(27);

      &:after {
        @include absolute-center-reset();
        top: rem(70);
        width: 100%;
      }
    }
  }
}

.table__tv__channels {
  @include media($media__l) {
    display: table-cell;
    width: 80%;
  }

  .main--page-with-cards & {
    padding-top: rem(20);

    @include media($media__l) {
      padding-top: rem(105);
    }
  }
}

.table__tv__channels__list--text-type {
  @include media($media__l) {
    margin-top: rem(88);
  }
}

.table__tv__channels__list__group {
  border-bottom: rem(1.2) dashed $color__gray--light;
  margin: rem(29) 0 0 $size-s-positive-gap;

  @include media($media__m) {
    margin-left: $size-m-positive-gap;
  }

  @include media($media__l) {
    border-bottom: 0;
    margin-left: 0;
  }

  .table__tv__channels__list--logo-type & {
    @include media($media__l) {
      width: 16.66%;
      display: inline-block;
      margin-top: 0;
      vertical-align: top;

      .table__tv-hd--modal & {
        width: 14.2%;
      }
    }
  }

  .table__tv__channels__list--text-type & {
    margin: rem(29) $size-s-positive-gap 0;

    @include media($media__m) {
      margin: rem(29) $size-m-positive-gap 0;
    }

    @include media($media__l) {
      margin: 0;
      width: 80%;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.table__tv__channels__list__group__title {
  font-size: rem(12);
  font-family: $font__text--medium;
  text-transform: uppercase;

  @include media($media__l) {
    font-size: rem(11);

    .table__tv-hd--modal & {
      font-size: rem(16);
    }

    .table__tv__channels__list--logo-type & {
      text-align: center;
      line-height: rem(20);
    }
  }
}

.table__tv__channels__list__group__title__counter {
  @include media($media__l) {
    .table__tv__channels__list--logo-type & {
      display: none;
    }
  }
}

.table__tv__channels__logo-type-list {
  position: relative;
  left: $size-s-negative-gap;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: rem(30) 0 rem(25) $size-s-positive-gap;
  white-space: nowrap;

  @include media($media__m) {
    left: $size-m-negative-gap;
    padding-left: $size-m-positive-gap;
  }

  @include media($media__l) {
    left: 0;
    width: auto;
    overflow-x: hidden;
    padding: rem(56) 0 0;
    white-space: normal;

    .table__tv-hd--modal & {
      padding: rem(64) 0 0;
    }
  }
}

.table__tv__channels__logo-type-list__item {
  display: inline-block;
  text-align: center;
  vertical-align: top;

  @include media($media__down__xs) { min-width: 37vw; }
  @include media($media__down__m) { min-width: 17vw; }

  @include media($media__l) {
    display: block;
    margin-bottom: rem(68);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    cursor: default;
    border-bottom: 0;

    &:active {
      top: 0;
    }
  }

  img,
  .table__tv__channels__logo-type-list__item__image {
    display: block;
    margin: 0 auto rem(13);
    width: rem(120);
    height: rem(40);
  }
}

.table__tv__channels__logo-type-list__item__title {
  width: rem(105);
  color: $color__gray;
  font-size: rem(11);
  line-height: 1.34em;
  padding: 0 rem(10);
  white-space: initial;

  @include media($media__l) {
    padding: 0;
  }
}

.table__tv__channels__logo-type-list__item__title--disabled {
  color: $color__gray--light;
  text-decoration: line-through;
}

.table__tv__channels__text-type-list {
  font-size: rem(13);
  line-height: 1.5em;
  padding: rem(20) 0 rem(24);

  @include media($media__l) {
    padding: rem(13) 0 rem(45);
  }
}

.table__tv__channels__text-prefix {
  font-size: rem(13);
  line-height: 1.5em;
  padding: rem(20) 0 rem(24);
  display: block;

  .table__tv__channels__text-type-list {
    display: inline;
    padding: 0;
  }

  @include media($media__l) {
    padding: rem(13) 0 rem(45);
  }
}

.table__tv-hd__addons {

  @include media($media__l) {
    width: 20%;
    display: table-cell;
    background-color: $color__gray--bright;

    .main--page-with-cards & {
      padding-top: rem(105);
    }
  }

  .addons {
    @include media($media__l) {
      height: 100%;
      border-top: 0;
      border-bottom: 0;
      overflow: visible;
      padding: 0;
    }
  }

  .addons__title {
    left: $size-s-positive-gap;

    @include media($media__m) {
      left: $size-m-positive-gap;
      font-size: rem(21);
      width: auto;
    }

    @include media($media__l) {
      top: auto;
      left: calc((100vw - #{$grid__size__l}) /2);
      text-align: center;
      text-transform: uppercase;
      height: rem(50);
      line-height: rem(64);
      font-size: rem(11);
      font-family: $font__text--medium;
    }

    @include media($media__l) {
      left: 0;
    }
  }

  .addons__scroll {
    left: 0;

    @include media($media__l) {
      width: 100%;
      overflow: visible;
      z-index: 1;
    }
  }

  .addons__list {
    @include media($media__l) {
      display: block;
      width: rem(174);
      left: 0;
    }

    @include media($media__xl) {
      left: 0;
      width: rem(246);
    }
  }

  .addons__item {
    position: relative;
    height: rem(90);

    @include media($media__m) {
      height: auto;
    }

    @include media($media__l) {
      display: block;
      padding: rem(26) rem(15);
      min-width: rem(174);
      max-width: rem(192);
      height: rem(260);
    }

    @include media($media__xl) {
      min-width: rem(246);
      padding-right: rem(33);
      padding-left: rem(33);
    }
  }

  .addons__tooltip__wrapper {

    @include media($media__m) {
      position: absolute;
      top: rem(-32);
      left: 50%;
      width: 100%;
    }

    @include media($media__l) {
      top: 0;
    }
  }

  .addons__item--tsbs .addons__tooltip__wrapper {
    @include media($media__l) {
      top: rem(-16);
    }
  }

  .addons__item__title-box {
    img {
      @include media($media__l) {
        padding-top: 0;
        margin-top: rem(4);
        margin-bottom: rem(14);
      }

      @include media($media__xxl) {
        margin-bottom: rem(16);
      }
    }

    h5 {
      padding-top: rem(12);
      padding-bottom: rem(7);

      @include media($media__m) {
        padding-top: rem(15);
        padding-bottom: rem(6);
      }

      @include media($media__l) {
        padding-top: rem(17);
        padding-bottom: 0;
        margin-bottom: rem(25);
      }
    }

    &:first-child {
      @include media($media__l) {
        h5 {
          padding-top: rem(16);
        }
      }
    }

    p {
      @include media($media__m) {
        margin-bottom: rem(20);
      }
    }
  }

  .addons__tooltip {
    display: none;

    @include media($media__m) {
      position: relative;
      right: 50%;
      padding: rem(4) rem(5);
      max-width: 84%;
      background-color: $color__white;
      border: rem(1) solid $color__black;
      font-size: rem(11);
      pointer-events: none;
      transform-origin: 50% 100%;
      transform: scaleX(0) scaleY(0) translateY(1rem);
      opacity: 0;
    }

    &:after {
      @include media($media__m) {
        content: '';
        position: absolute;
        bottom: rem(-6);
        left: 50%;
        margin-left: rem(-4);
        width: rem(9);
        height: rem(6);
        background-image: url('/assets/images/products/tv-hd/arrow-tooltip.png');
        background-size: 100% auto;
      }
    }

  }

  .addons__item--tsbs .addons__tooltip {
    @include media($media__m) {
      min-width: rem(140);
    }
  }

  .addons__item--tstb {
    .button--addon {
      @include media($media__m) {
        margin-top: rem(-2);
        padding-top: rem(1);
        padding-bottom: rem(1);
      }

      @include media($media__l) {
        min-width: 100%;
      }

      @include media($media__xl) {
        min-width: none;
      }
    }
  }

  .addons__item--tsbs {
    .button--addon {
      @include media($media__m) {
        margin-top: rem(-2);
        padding-top: rem(1);
        padding-bottom: rem(1);
      }
    }
  }

  .addons__tooltip--open {
    display: inline-block;
    animation: kf-tooltip-open 0.377s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.610s;
  }
}

.table__tv__fixed-table {
  display: none;

  @include media($media__l) {
    position: fixed;
    top: rem(136);
    left: 0;
    width: 100%;
    height: rem(32);
    display: block;
    visibility: hidden;
    z-index: 1;
    border-bottom: rem(1.2) solid $color__gray--light;
    background-color: $color__white;
    transition: transform 377ms ease;
    pointer-events: none;
  }

  &.table__tv__fixed-table--sticky {
    position: absolute;
    top: rem(117);
    width: 100vw;
    visibility: visible;
    background-color: transparent;
    border-bottom: none;

    @include media($media__l) {
      left: $size-l-negative-gap;
    }

    @include media($media__xl) {
      left: $size-xl-negative-gap;
    }

    .container {
      position: sticky; // position: static; on non stickable browsers
      top: rem(136);
      background-color: $color__white;
      height: rem(35);

      &:after, &:before {
        position: absolute;
        bottom: 0;

        @include media($media__l) {
          left: $size-l-negative-gap;
        }

        @include media($media__xl) {
          left: $size-xl-negative-gap;
        }
      }

      &:after {
        @include horizontal-after-line($color__gray--light, 100vw);
      }

      &:before {
        @include horizontal-after-line($color__white, 100vw);
        top: 0;
        bottom: auto;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .container {
    height: 100%;
  }

}

.table__tv__fixed-table__channel-list {
  display: block;
  width: rem(768);
  float: left;
  margin-top: rem(7);

  @include media($media__xl) {
    width: rem(924);
  }
}

.table__tv__fixed-table__channel-list-item {
  display: inline-block;
  width: 16.66%;
  text-align: center;
}

.table__tv__fixed-table__addon-header {
  display: block;
  width: rem(192);
  height: 100%;
  background-color: $color__gray--bright;
  float: right;
  letter-spacing: 0.01333em;

  @include media($media__xl) {
    width: rem(246);
  }
}

.table__tv__fixed-table__addon-header__title {
  text-align: center;
  font-size: rem(11);
  margin-top: rem(11);
}

.table__tv__fixed-table__channel-list-item,
.table__tv__fixed-table__addon-header {
  font-family: $font__text--medium;
  font-size: rem(11);
  text-transform: uppercase;
}
