@import "../../../config/_config";
@import "../../../common/_hidebysize";

%base-feedback-message {
  h3 {
    margin-top: 0;
    font-size: rem(26);

    @include media ($media__l) {
      font-size: rem(48);
    }
  }

  p {
    color: $color__gray;
    margin-top: rem(40);
    font-size: rem(14);

    @include media ($media__m) {
      margin-top: rem(20);
      font-size: rem(16);
    }
  }

  .base-feedback-message__sent-data {
    border: rem(1) solid $color__gray--light;
    border-radius: rem(5);
    margin-top: rem(40);
    padding: rem(10);

    @include media ($media__m) {
      padding: rem(20);
    }

    .base-feedback-message__sent-data__item {
      color: $color__gray;
      margin-top: rem(5);
      font-size: rem(14);

      @include media ($media__m) {
        font-size: rem(16);
      }
    }
  }
}
