.modal-content--horizontal {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
}

.modal__horizontal__header {
  padding: rem(135) rem(20) rem(78);

  @include media($media__m) {
    padding: rem(135) rem(98) rem(68);
  }

  &.modal--gradient--magenta {
    @extend %gradient__magenta__vertical;
  }

  .modal__horizontal__icon {
    display: inline-block;
    width: rem(90);
    height: rem(90);
    margin-bottom: rem(50);

    .tv-hd-channels-list &,
    .fixo-pre-voz-total &,
    .internet-internet-para-dependentes & {
      svg {
        fill: $color__white;
      }
    }

    .fixo-pre-voz-total &,
    .internet-internet-para-dependentes & {
      display: inline-block;
      width: rem(218);
      height: rem(81);
    }
  }
}

.modal__horizontal__body {
  width: 100%;
  padding: rem(70) rem(20);

  @include media($media__m) {
    padding: rem(70) rem(100);
  }

  &.modal-body {
    overflow-y: visible;
  }

  .modal__body__title {
    padding-top: 0;
  }

  .modal__table {
    width: 100%;

    @include media($media__xl) {
      margin-top: 0;
      width: 57%;
    }
  }

  .modal__body__observation {
    margin-top: rem(76);
    color: $color__black;
    font-size: rem(16);
  }

  .modal__body__observation__division {
    display: none;
  }

  .modal__table-with-inputs {
    position: relative;

    .text__wrapper {
      width: 20%;
    }

    .fieldset__wrapper {
      @include media($media__s) {
        width: 30%;
      }

      @include media($media__m) {
        width: 27%;
      }

      .price {

        @include media($media__s) {
          margin-left: rem(20);
          left: 0;
        }

        @include media($media__m) {
          margin-left: 0;
          left: rem(20);
        }

        @include media($media__l) {
          margin-left: rem(40);
          left: 0;
        }
      }
    }

    table thead td {
      height: rem(68);
    }

    table tbody td {
      height: rem(130);
    }

    tr {
      cursor: pointer;
    }
  }

  .modal__table-without-headers {
    font-size: rem(16);

    .fieldset__wrapper {
      width: 20%;

      @include media($media__l) {
        width: 30%;
      }

      fieldset {
        float: left;
      }

      .price {
        margin-left: rem(50);
        float: left;
      }
    }

    tr {
      &:first-child {
        border-top: 0;
      }
    }

    td {
      padding-top: rem(50);
      padding-bottom: rem(50);
      vertical-align: top;
      text-align: left;
    }

    p {
      font-family: $font__text--bold;
    }

    small {
      color: $color__black;
      font-family: $font__text--regular;
      font-size: rem(16);

      span {
        margin-bottom: rem(15);
      }
    }

    .checked {
      td {
        background: $color__gray--bright;
      }
    }
  }
}

.modal__horizontal__title__wrapper {
  overflow: hidden;

  .big-title {
    margin-bottom: rem(10);
    letter-spacing: -0.047em;

    @include media($media__xl) {
      margin-bottom: 0;
      float: left;
    }
  }

  .button--transparent {
    top: rem(6);
    font-size: rem(16);
    min-height: rem(50);
    min-width: rem(180);
    padding: rem(17) rem(43);

    .pacotes-extras & {
      top: 0;
    }

    @include media($media__xl) {
      float: right;
    }

    &:hover {
      color: $color__purple;
      background-color: $color__white;
    }
  }

  .price {
    color: $color__white;
    float: right;
    margin-right: rem(48);
  }
}
