.paragraph-list__item {
  border-top: rem(1) solid $color__black;
  padding: rem(30) 0;

  > span {
    line-height: rem(22);
  }

  .paragraph-list__item__highlight {
    font-size: rem(18);
  }

  @include media($media__xl) {
    width: rem(560);
    margin: 0 auto;
  }
}
