.modal__table {
  $headingWidthS: 29%;
  $headingWidthM: 15%;
  position: relative;

  &:after {
    @include horizontal-after-line($color__black, 100vw);
    @include absolute-center(100vw);
    top: rem(-1);

    @include media($media__m) {
      @include absolute-center-reset();
      width: 100%;
    }
  }

  &.table {
    overflow: visible;
  }

  .table__fixed {
    position: relative;
    width: $headingWidthS;

    @include media($media__s) {
      width: $headingWidthS;
      border-right: 0;
    }

    @include media($media__m) {
      width: $headingWidthM;
    }
  }

  .table__fixed--scrolling {
    border-right: rem(1.2) solid $color__gray--light;

    &:after {
      @include vertical-after-line($color__gray--bright, 100%);
      right: rem(-2);
      top: 0;
    }
  }

  .table__scroll {
    position: absolute;
    left: $headingWidthS;
    right: calc((#{$grid__size__xs} - 100vw) / 2);
    top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    @include media($media__s) {
      left: $headingWidthS;
      right: calc((#{$grid__size__s} - 100vw) / 2);
    }

    @include media($media__m) {
      left: $headingWidthM;
      overflow-x: hidden;
      right: 0;
    }

    th,
    td {
      min-width: rem(110);

      @include media($media__xs) {
        width: rem(280);
      }

    }

    table {
      width: calc(17vw * 9);

      @include media($media__m) {
        width: 100%;
      }
    }
  }
}

.modal__table__wrapper {
  position: relative;

  &:after {
    @include horizontal-after-line($color__black, 100vw);
    @include absolute-center(100vw);
    bottom: rem(-2);

    @include media($media__m) {
      @include absolute-center-reset();
      width: 100%;
    }
  }
}
