$menuHeightS: rem(80);

.menu {
  position: relative;
  height: $menuHeightS;
  font-size: rem(20);
  letter-spacing: letter-spacing(-30);
  white-space: nowrap;

  @include media($media__m) {
    height: rem(100);
    font-size: rem(18);
    letter-spacing: letter-spacing(-20);

    background-position: 0 rem(23);
    background-size: rem(52) rem(52);
  }

  @include media($media__l) {
    font-size: rem(20);

    background-position: 0 rem(19);
    background-size: rem(60) rem(59);
  }

  .minha-oi &,
  .minha-oi-form &,
  .minha-oi-product & {
    background-image: none;
  }

  &:after {
    @include horizontal-after-line(rgba($color__black, 0.13), 200%);
    bottom: 0;
    left: -50%;
  }
}

.menu__items {
  display: flex;
  align-items: center;
  height: 100%;

  .old-ie & {
    display: table;
  }
}

.menu__item {
  margin-right: rem(28);

  @include media($media__m) {
    margin-right: rem(32);
  }

  .old-ie & {
    display: table-cell;
    padding-right: rem(28);
    vertical-align: middle;

    @include media($media__m) {
      padding-right: rem(32);
    }
  }

  a {
    color: $color__white;
  }
}

.menu__item--submenu-open {
  .menu__submenu {
    display: block;
  }
}

.menu__logo {
  width: rem(50);
  margin-right: rem(39);

  @include media($media__m) {
    width: rem(52);
    margin-right: rem(24);
  }

  @include media($media__l) {
    width: rem(60);
    margin-right: rem(40);
    margin-top: 0;
  }

  a,
  span {
    display: block;
  }

  a {
    border-bottom: 0;

    .no-touch .header &:hover {
      border-bottom: 0;
    }
  }

  svg {
    height: rem(60);
    width: 100%;

    .old-ie & {
      height: rem(100);
    }
  }

  @include setLogoColor();

  .header--special-background & {
    @include setLogoColor($color__purple);
  }

  .wrap--loading & {
    margin-top: rem(17);

    @include media($media__l) {
      margin-top: rem(22);
    }
  }
}

.menu__item__primary {
  @include media($media__m) {
    margin-right: rem(28);
  }

  @include media($media__l) {
    margin-right: rem(37);
  }
}

.menu__item__secondary {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: rem(12);
  font-family: $font__text--medium;
  letter-spacing: letter-spacing(30);

  @include media($media__m) {
    margin: rem(5) rem(23) 0 rem(4);
  }

  @include media($media__xl) {
    margin: rem(5) rem(25) 0 rem(2);
  }

  sup {
    font-size: 75%;
    text-transform: lowercase;
  }
}

.menu__item__search {
  position: relative;
}

.menu__item__search__icon {
  display: inline-block;
  position: relative;
  top: rem(1);
  margin-right: rem(6);

  svg {
    width: rem(10);
    height: rem(10);
    fill: $color__white;

    .old-ie & {
      width: rem(11);
      height: rem(12);
    }

    .aqua & { @include color('fill', $color__aqua); }
    .black & { @include color('fill', $color__black); }
    .magenta & { @include color('fill', $color__magenta); }
    .yellow & { @include color('fill', $color__yellow); }

    .purple & { @include color('fill', $color__purple); }
    .blue & { @include color('fill', $color__blue); }
    .pink & { @include color('fill', $color__pink); }
    .green & { @include color('fill', $color__blue); }
    .orange & { @include color('fill', $color__orange); }

  }
}

.menu__minha-oi {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 0;

  @include media($media__m) {
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .old-ie & {
    @include media($media__m) {
      margin-top: rem(24);
      padding-right: 0;
    }

    @include media($media__l) {
      margin-top: rem(17);
    }

    @include media($media__xl) {
      margin-top: rem(15);
    }
  }

  a {
    @include media($media__m) {
      background-color: rgba($color__black, .21);
      display: block;
      border-bottom: 0;
      border-radius: rem(2);
      color: $color__white;
      padding: rem(16) rem(33);
      transition: background-color 233ms linear;

      // normal
      .aqua & { @include color('background-color', $color__aqua); }
      .black & { @include color('background-color', $color__black); }
      .magenta & { @include color('background-color', $color__magenta); }
      .yellow & { @include color('background-color', $color__yellow); }

      .purple & { @include color('background-color', $color__purple); }
      .blue & { @include color('background-color', $color__blue); }
      .pink & { @include color('background-color', $color__pink); }
      .green & { @include color('background-color', $color__blue); }
      .orange & { @include color('background-color', $color__orange); }

      // hover
      .no-touch &:hover { background-color: rgba($color__black, .34); }
      .no-touch .aqua &:hover { background-color: $color__green; }
      .no-touch .black &:hover { background-color: $color__gray; }
      .no-touch .magenta &:hover { background-color: $color__purple; }
      .no-touch .yellow &:hover { background-color: $color__yellow; }

      .no-touch .purple &:hover { background-color: $color__purple; }
      .no-touch .blue &:hover { background-color: $color__blue; }
      .no-touch .pink &:hover { background-color: $color__pink; }
      .no-touch .green &:hover { background-color: $color__green; }
      .no-touch .orange &:hover { background-color: $color__orange; }

      .oi-indica & {
        background-color: rgba($color__black, .21);

        .no-touch &:hover { background-color: rgba($color__black, .2); }
      }

      .tv-hd & {
        background-color: rgba($color__black, .9);

        .no-touch &:hover { background-color: rgba($color__black, .9); }
      }


      .combo &  {
        background: rgba($color__black, .5);
      }

      &:active {
        top: rem(1.2);
      }

      .no-touch &,
      .no-touch &:hover {
        border-bottom: 0;
      }
    }

    @include media($media__l) {
      padding: rem(20) rem(35);
    }

    @include media($media__xl) {
      padding: rem(25) rem(48);
    }
  }
}

.tv-hd {
  &.no-touch {
    .menu__minha-oi {
      a {
        &:hover {
          background-color: $color__black;
        }
      }
    }
  }
}


.menu__submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  a {
    color: $color__white;
  }
}

.menu__submenu--magenta { @include color('background-color', $color__magenta); }
.menu__submenu--yellow { @include color('background-color', $color__yellow); }
.menu__submenu--black { @include color('background-color', $color__black); }

.menu__submenu--purple { @include color('background-color', $color__purple); }
.menu__submenu--blue { @include color('background-color', $color__blue); }
.menu__submenu--pink { @include color('background-color', $color__pink); }
.menu__submenu--green { @include color('background-color', $color__green); }
.menu__submenu--orange { @include color('background-color', $color__orange); }

.menu__submenu__header {
  position: relative;
  height: $menuHeightS;
  display: flex;
  align-items: center;

  .old-ie & {
    display: table;
  }

  &:after {
    @include horizontal-after-line(rgba($color__black, .13), 200%);
    left: -25%;
    bottom: 0;

    .black & { background: rgba($color__white, .15); }
  }

  .menu__logo {
    display: block;

    .old-ie & {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.menu__submenu__header__close {
  position: absolute;
  right: 0;
  top: rem(30);
  opacity: .5;

  &:active {
    top: rem(31);
  }

  svg {
    height: rem(20);
    width: rem(20);
    fill: $color__white;
  }
}

.menu__submenu__primary {
  margin: rem(18) 0 rem(23);
}

.menu__submenu__primary__item {
  font-size: rem(39);
  font-family: $font__text--light;
  letter-spacing: letter-spacing(10);

  a {
    display: inline-block;
    padding: rem(10) 0;
  }
}

.menu__submenu__secondary {
  border-top: rem(1) solid rgba($color__black, .13);
  padding: rem(30) 0;
  white-space: normal;

  .black & { border-color: rgba($color__white, .15); }
}

.menu__submenu__secondary__item {
  width: 50%;
  display: inline-block;
  font-family: $font__text--light;
  letter-spacing: 0;
  margin-bottom: rem(11);
}
