.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModalPortal {
  > div {
    opacity: 0;
    transition: opacity 610ms ease;

    &.ReactModal__Overlay--after-open {
      opacity: 1;
    }
  }
}

.modal-fullscreen-overlay {
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

.modal-fullscreen {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
}

.modal-body {
  background-color: $color__white;
  display: inline-block;

  a {
    color: $color__gray;
    border-bottom: rem(1.2) solid rgba($color__gray, .2);

    .no-touch &:hover {
      color: $color__purple;
      border-color: rgba($color__purple, .5);
    }
  }

  .modal__body__title__button {
    position: relative;
    display: block;
    width: 100%;
    padding: rem(17) rem(34);
    border: rem(1.2) solid $color__black;
    border-radius: rem(2);
    color: $color__black;
    border-bottom: rem(2) solid $color__yellow;
    border-top: rem(1) solid transparent;
    border-left: rem(2) solid transparent;
    border-right: rem(2) solid transparent;
    text-align: center;

    @include media($media__m) {
      margin-top: 0;
      display: inline-block;
      width: auto;
      float: right;
    }

    .no-touch &:hover {
      border-bottom: rem(2) solid transparent;
      color: $color__black;
      border-top: rem(1) solid transparent;
      border-left: rem(2) solid transparent;
      border-right: rem(2) solid transparent;
    }

    &:active {
      color: $color__black;
      border-bottom: rem(1) solid transparent;
      border-top: rem(2) solid rgba($color__yellow, 1);
      color: $color__black;
      border-bottom: rem(2) solid $color__yellow;
      border-top: rem(1) solid transparent;
      border-left: rem(2) solid transparent;
      border-right: rem(2) solid transparent;
    }

    &:disabled {
      color: rgba($color__black, 0.21);
      border-bottom: rem(2) solid transparent;
    }

    &.inactive {
      opacity: 0.5;
    }
  }
}

.modal__body__title {
  overflow: hidden;
  font-size: rem(30);
  font-family: $font__text--light;
  padding-top: rem(20);
  margin-bottom: rem(30);

  @include media($media__xl) {
    padding-top: rem(5);
  }
}

.modal__body__title--icon {
  .isvg {
    position: relative;
    top: rem(2);
    display: inline-block;
    width: rem(18);
    height: rem(18);
    margin-right: rem(10);
  }
}

.modal__body__title__button_text {
  position: relative;
  top: rem(-1);
  margin-left: rem(10);
  font-size: rem(11);
  font-family: $font__text--regular;
}

.modal__body__title--simple {
  margin-bottom: rem(65);
  font-size: rem(30);
  font-family: $font__text--light;
}

.modal__body__title__text {
  display: inline-block;
  margin: rem(17) 0 rem(20);

  @include media($media__m) {
    margin-bottom: 0;
    float: left;
  }
}

.modal__list {
  counter-reset: items;
}

.modal__list__item {
  position: relative;
  counter-increment: items;
  margin-bottom: rem(35);
  font-family: $font__text--regular;
  padding-left: rem(20);
  font-size: rem(16);
  line-height: rem(21);

  &:before {
    font-family: $font__text--light;
    left: 0;
    color: $color__gray;
    content: counter(items);
    position: absolute;
  }

  a {
    color: $color__purple;
    border-bottom: 0;

    &:hover {
      border-bottom: rem(1.2) solid;
    }
  }
}

.modal__list__header {
  margin: rem(75) 0 rem(35);
  display: block;
  font-family: $font__text--bold;
  font-size: rem(16);
}

.modal__table {
  border-top: rem(1.2) solid $color__black;
  border-bottom: rem(1.2) solid $color__black;
  margin-top: rem(40);

  small {
    display: block;
    margin-top: rem(10);
    font-size: rem(13);
    font-family: $font__text--regular;

    span {
      display: block;
    }
  }

  td, th {
    height: rem(110);
    font-family: $font__text--bold;
    font-size: rem(16);
    padding-right: rem(10);
    padding-left: rem(10);

    @include media($media__s) {
      padding-right: rem(30);
      padding-left: rem(30);
    }
  }

  .table__fixed {
    &.with-radio {
      td, th {
        vertical-align: middle;
        white-space: nowrap;
        padding-left: 0;
      }

      .price, .line-radio {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  thead {
    td, th {
      font-family: $font__text--regular;
      text-align: center;
    }

    .header-icon {
      display: block;
      height: rem(32);
      margin: 0 auto rem(16) auto;
      width: rem(32);
    }
  }

  small {
    font-size: rem(13);
    color: $color__gray;
  }

  .price__value {
    text-align: left;
  }

  .hashtag {
    display: inline-block;
    width: rem(70);
    padding: rem(5) 0;
    border-radius: rem(2);
    background: $color__purple;
    color: $color__white;
    font-size: rem(13);
    font-weight: normal;
    line-height: rem(15);
    text-align: center;
  }

  .line-radio {
    margin-right: rem(15);

    .radio {
      @include media($media__xs) {
        display: inline-block;
      }
    }
  }

  .stamp {
    left: rem(-10);
    top: rem(-10);
  }

  &.modal__table--content {
    th,
    td {
      padding-left: 0;
      padding-right: 0;
    }

    tbody {
      td {
        height: rem(200);

        @include media($media__m) {
          height: rem(140);
        }
      }
    }

    .table__fixed--scrolling {
      border-right: rem(1.2) solid $color__gray--light;

      &:after {
        @include vertical-after-line($color__gray--bright, 100%);
        right: rem(-2);
        top: 0;
      }
    }

    .table__fixed {
      width: 50%;

      @include media($media__m) {
        width: rem(220);
      }

      td,
      th {
        text-align: left;
        width: rem(20);
        min-width: rem(10);
      }
    }

    .table__scroll {
      width: 100%;
      left: 50%;
      -webkit-overflow-scrolling: touch;

      table {
        width: calc(36vw * 6);

        @include media($media__m) {
          width: 100%;
        }
      }

      td,
      th {
        width: rem(20);
      }

      @include media($media__m) {
        width: auto;
        left: rem(220);
        margin-left: 0;

        td,
        th {
          width: auto;
        }
      }
    }

    .modal__table--content__text,
    .modal__table--content__link {
      display: inline;
      font-size: rem(13);
      color: $color__gray;
      font-family: $font__text--regular;
      line-height: rem(16);
    }
  }
}

.modal__table--content__title {
  display: block;
  font-family: $font__text--bold;
  font-size: rem(16);
  margin-bottom: rem(20);
  line-height: rem(19);
}

.modal__table__subtitle,
.modal__table__subvalue {
  line-height: 1em;
  margin-top: rem(3);
  font-size: rem(13);
  color: $color__gray;
}

.modal__body__links-list {
  padding-top: rem(20);
  margin-bottom: rem(100);

  @include media($media__xl) {
    padding-top: 0;
  }
}

.modal__body__links-list__wrapper {
  display: table;
  width: 100%;
  padding-bottom: rem(50);

  &:first-child {
    padding-top: rem(20);
    border-top: rem(1.2) solid $color__black;

    @include media($media__m) {
      padding-top: rem(100);
    }
  }
}

.modal__body__links-list__title {
  margin-bottom: rem(20);

  @include media($media__m) {
    display: table-cell;
    width: 30%;
    margin-bottom: 0;
  }
}

.modal__body__links-list__links {
  @include media($media__m) {
    display: table-cell;
    width: 70%;
  }

  p {
    line-height: 1.6em;
    margin-bottom: rem(8);
  }

  li {
    margin-bottom: rem(10);

    @include media($media__m) {
      margin-bottom: rem(15);
    }

    a {
      color: $color__purple;
      border-bottom: none;

      &:hover {
        color: $color__purple;
        border-bottom: rem(1.2) solid $color__purple;
      }
    }
  }
}

.modal__body__header-paragraph {
  margin-bottom: rem(64);
  font-size: rem(16);
  line-height: rem(26);

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $color__black;

    .tv-hd-contrato-da-oferta & {
      color: $color__purple;
      text-decoration: none;
    }
  }

  .como-comprar & {
    @include media($media__xl) {
      margin-top: rem(32) 0 rem(72);
    }
  }
}

.modal__body__header-paragraph__title {
  display: block;
  font-family: $font__text--bold;
  font-size: rem(16);
  margin-bottom: rem(12);
}

.modal__body__paragraph {
  margin-top: rem(100);
  margin-bottom: rem(65);
  line-height: rem(24);
}

.modal__body__observation {
  margin-top: rem(65);
  color: $color__gray;
  font-size: rem(13);
  line-height: 1.44em;
  letter-spacing: 0.004em;

  a {
    margin-top: rem(25);

    &:last-child {
      margin-top: 0;
      margin-bottom: rem(25);
    }
  }

  .observation__paragraph {
    margin-bottom: rem(14);
  }

  @include media($media__xl) {
    .como-comprar & {
      margin-top: 0;
    }
  }
}

.modal__body__observation__division {
  width: rem(180);
  height: rem(1);
  background: $color__gray--light;
  margin-bottom: rem(35);
}

.modal__body__header-table {
  margin: rem(80) 0 rem(100);
}

.modal__body__header-table__header {
  display: block;
  font-size: rem(16);
  color: $color__black;
  margin-bottom: rem(35);
}

.modal__body__header-table__wrapper {
  display: table;
  margin-bottom: rem(25);
  width: 100%;
  line-height: rem(24);
}

.modal__body__header-table__title {
  color: $color__gray;
  font-family: $font__text--regular;
  font-size: rem(16);
  margin-bottom: rem(20);
  width: rem(250);

  @include media($media__m) {
    display: table-cell;
    margin-bottom: 0;
  }
}

.modal__body__header-table__links {
  color: $color__black;

  @include media($media__m) {
    display: table-cell;
    width: 75%;
    margin-bottom: rem(20);
  }

  em {
    color: $color__gray;
    font-size: rem(13);
  }

  a,
  small {
    color: $color__gray;
    font-size: rem(13);
  }

  .default {
    color: $color__black;
    font-size: rem(16);
  }
}

.modal__body__header-button-list {
  margin-bottom: rem(70);
  color: $color__black;
  font-size: rem(16);

  .old-ie & {
    overflow: hidden;
  }
}

.modal__body__header-button-list__title {
  margin-bottom: rem(12);
  font-size: rem(16);
  font-family: $font__text--bold;
}

.modal__body__header-button-list__item {
  margin-right: rem(20);
  float: left;
  margin-bottom: rem(20);

  @include media($media__m) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    border-bottom: rem(1.2) solid $color__black;
    height: rem(52);
    line-height: rem(20);
  }
}

.modal__header {
  position: relative;
  overflow: hidden;

  @include media($media__xl) {
    position: static;
    overflow: visible;
  }
}

.modal__header__close {
  position: fixed;
  top: rem(6);
  right: 0;
  padding: rem(20);

  @include media($media__m) {
    right: rem(10);
    top: rem(19);
  }

  &:active {
    top: rem(10);

    @include media($media__m) {
      top: rem(21);
    }
  }

  svg {
    height: rem(16);
    width: rem(16);
    fill: $color__black;

    &:hover {
      fill: $color__gray;
    }

    .modal--gradient--aqua & {
      @include media($media__xl) {
        fill: $color__aqua;

        &:hover {
          fill: $color__magenta;
        }
      }
    }

    .modal--gradient--magenta & {
      @include media($media__xl) {
        fill: $color__magenta;

        &:hover {
          fill: $color__aqua;
        }
      }
    }

    .modal--gradient--purple & {
      @include media($media__xl) {

        fill: mix($color__purple, $color__white, 55);

        &:hover {
          fill: mix($color__purple, $color__white, 34);
        }
      }
    }

    .modal--gradient--orange & {
      @include media($media__l) {
        fill: $color__pink;

        &:hover {
          fill: $color__orange;
        }
      }
    }

    @include media($media__m) {
      height: rem(30);
      width: rem(30);
    }
  }
}

.modal__sidebar__icon {
  cursor: pointer;
}

.modal__sidebar__table {
  background: transparent;
  margin-top: rem(160);

  a {
    position: relative;
    top: rem(1);
    display: inline-block;
    border-bottom: rem(1.2) solid rgba($color__white, .25);
    padding-bottom: rem(1);
    margin-top: rem(18);
    color: rgba($color__white, .7);
    font-size: rem(13);

    .no-touch &:hover {
      border-color: rgba($color__white, .5);
      color: rgba($color__white, 1);
    }
  }

  th {
    border-bottom: rem(1.2) solid $color__black;
    padding-bottom: rem(40);
    text-align: left;
    width: 50%;
  }

  thead {
    border: 0;
  }

  tbody {
    border: rem(1.2) solid rgba($color__black, .25);
    border-left: 0;
    border-right: 0;

    tr {
      border-top: 0;
      border-bottom: rem(1.2) dashed $color__white;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    color: $color__white;
    font-family: $font__text--light;
    font-size: rem(16);
    padding-left: 0;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  td {
    overflow: hidden;
    font-size: rem(13);
    padding: rem(18) 0;

    @include media($media__m) {
      font-size: rem(16);
    }

    @include media($media__xl) {
      font-family: $font__text--regular;
      font-size: rem(13);
    }

    a {
      margin-top: 0;
    }
  }
}

.modal__sidebar__table__generic {
  border-bottom: rem(1.2px) solid rgba($color__black, .25);
}

.modal__sidebar__price {
  margin-top: rem(10);
  font-size: rem(13);
  color: $color__black;
}

.modal__sidebar__currency {
  display: inline-block;
  margin-right: rem(3);
}

.modal__sidebar__table__header {
  display: table;
  width: 100%;
  font-size: rem(21);
  padding-bottom: rem(40);
  color: $color__white;
}

.modal__sidebar__table__header__item {
  width: 50%;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;

  @include media($media__xl) {
    cursor: default;
  }

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
    padding-right: rem(25);

    @include media($media__xl) {
      padding-right: 0;
    }
  }
}

.modal__sidebar__table__header__item__title {
  font-family: $font__heading;
  font-size: rem(18);
}

.modal__sidebar__table__header__item__value {
  .como-comprar & {
    display: none;

    @include media($media__xl) {
      display: block;
    }
  }
}

.modal__sidebar__table__content {
  @include media($media__xl) {
    display: table;
  }
}

.button--with-title {
  font-size: rem(16);
  margin-bottom: rem(70);

  h1 {
    font-family: "OiTextLight", sans-serif;
    margin-bottom: rem(12);
  }

  .span--button {
    margin-right: rem(12);
  }

  .span--button,
  .em--button {
    vertical-align: middle;
  }

  .span-solo {
    font-size: rem(16);
  }

  .modal__button {
    margin-right: rem(32);
  }

  em {
    color: rgba($color__black, 0.6);
    font-size: rem(13);

    .como-comprar & {
      display: block;

      @include media($media__xl) {
        margin-top: 0;
        display: inline;
      }
    }
  }

  .como-comprar & {
    display: inline-block;
    margin-bottom: rem(35);

    @include media($media__xl) {
      display: block;
    }
  }

  .celular-como-comprar & {
    margin-bottom: rem(80);

    a {
      border-bottom: rem(1.2) solid rgba($color__black, 0.6);
      padding-bottom: rem(1);
      color: rgba($color__black, 0.6);
      font-size: rem(13);
    }
  }
}

.title--no-button {
  display: block;
  font-family: $font__text--medium;
  font-size: rem(18);
  margin-bottom: rem(52);
  margin-top: rem(70);
}

.big-title {
  color: $color__white;
  font-size: rem(27);
  line-height: em(16);

  @include media($media__m) {
    font-size: rem(35);
    letter-spacing: letter-spacing(-33);
  }

  @include media($media__xl) {
    font-size: rem(57);
    letter-spacing: letter-spacing(-60);
  }

  .subtitle {
    display: block;
    font-family: $font__text--medium;
    font-size: rem(12);
    line-height: 1em;
    letter-spacing: 0;
    margin-top: rem(10);
  }
}

.big-title__icon {
  display: none;

  .como-comprar & {
    position: relative;
    top: rem(-1);
    display: inline-block;
    width: rem(22);
    height: rem(21);
    margin-right: rem(30);
    transition: margin 0.27;

    svg {
      fill: $color__white;
    }

    @include media($media__xl) {
      display: none;
    }
  }
}

.modal__addons {
  background-color: $color__gray--bright;
  border-bottom: rem(2) solid $color__black;
  padding: rem(46);

  em {
    color: $color__gray;
    font-size: rem(12);
    line-height: 1.4;
  }
}

.modal__addons__icons {
  display: block;
  margin: rem(32) 0 rem(16);
  height: rem(48);
  width: rem(112);
}

.modal__table-content {
  line-height: rem(16);

  td,
  th {
    &:first-child {
      text-align: left;

      .fixo-outros-planos & {
        width: 35%;
      }
    }
  }

  td {
    font-family: $font__text--regular;
  }

  a {
    color: $color__black;
    padding-bottom: rem(1);
    border-bottom: rem(1.2) solid $color__black;
    font-size: rem(13);
  }

  .modal__table-content__text__link {
    border-bottom: rem(1.2) solid $color__gray;
    color: $color__gray;
  }
}

.modal__table-content__title {
  font-family: $font__text--bold;
}

.modal__table-content__text {
  font-size: rem(13);
}

.select-table__cell {
  height: rem(80);
  width: rem(100);
  margin: rem(8);
};

.select-table__cell--active {
  background-color: $color__purple;
  color: $color__white;
}

.modal__horizontal__body {
  .modal__table-without-headers {
    margin-bottom: rem(65);
    .table--row--selected.checked {
      border: rem(1.2) solid $color__purple;
      position: relative;
      z-index: 10;

      td {
        background: $color__white;
      }
    }
  }
}

.modal__channel-grid {
  height: rem(2);
  width: 100%;
  border-bottom: rem(2) solid #000;

  li {
    display: inline-block;
    float: left;
    margin: rem(24) rem(23) rem(16) 0;
    width: rem(128);

    a {
      height: rem(128);
      margin-right: rem(32);
    }

    img {
      padding-top: rem(16);
    }
  }
}

.modal__sidebar__table__header__item__value {
  .como-comprar & {
    display: none;

    @include media($media__xl) {
      display: block;
    }
  }
}

.modal__body__text-bottom {
  @include media($media__xl) {
    line-height: rem(24);
  }
}

.modal__body__header-button-list__list {
  @include media($media__m) {
    display: flex;
  }

  .old-ie & {
    display: block;
    overflow: hidden;
  }
}

.modal__body__header-button-list__paragraph {
  display: block;
  font-size: rem(13);
  margin-top: rem(10);
  color: $color__gray;
}

.modal__body__footer-table {
  background: $color__gray--bright;
  padding: rem(40);
}

.modal__body__footer-table__title {
  font-size: rem(16);
  font-family: $font__text--regular;
  margin-bottom: rem(40);
}

.modal__body__footer-table__content__item {
  margin-bottom: rem(30);
}

.modal__body__footer-table__content__item__subtitle {
  display: block;
  margin-bottom: rem(10);
  font-size: rem(16);
  font-family: $font__text--regular;
}

.modal__body__footer-table__content__item__text {
  font-size: rem(13);
  color: $color__gray;
}

.modal__button {
  font-size: rem(16);
  width: 100%;
  padding: rem(16) 0;
  min-height: 0;
  min-width: 0;
  color: $color__black;
  border: rem(1.2) solid $color__black;
  background-color: $color__white;
  transform-origin: center center;
  cursor: pointer;
  display: inline-block;
  border-radius: rem(2);
  text-align: center;

  span {
    color: $color__black;
  }

  @include media($media__m) {
    width: rem(200);
  }

  .no-touch &:hover {
    background: $color__black;
    color: $color__white;
    border-color: transparent;
    transition: background .377s;

    span {
      color: $color__white;
    }

    svg {
      fill: $color__white;
    }
  }

  &.no-link {
    cursor: default;

    .no-touch &:hover {
      background: $color__white;
      border-color: $color__black;
    }
  }
}

.modal__body__video {
  margin-bottom: rem(100);
}

.city-list {
  border-top: rem(1.2) solid $color__black;
  padding-top: rem(50);
  margin-top: rem(50);
}

.city-list__item {
  margin-bottom: rem(55);
}

.city-list__stores {
  line-height: 1.2em;
}

.city-list__title {
  font-size: rem(16);
  color: $color__gray;
}

.city-list__stores__title {
  display: block;
  font-size: rem(16);
  font-family: $font__text--bold;
}

.city-list__stores__item {
  margin-bottom: rem(30);
}

@import 'modal/vertical';
@import 'modal/horizontal';

@import 'modal/table';

@import 'modal/como-comprar';
@import 'modal/sem-fidelizacao';
@import 'modal/controle-conectado';
@import 'modal/pacotes-extras';
@import 'modal/plano-pos-100';
@import 'modal/voz-total';
@import 'modal/plano-basico';
@import 'modal/internet-para-dependentes';
@import 'modal/modal-our-phones';
@import 'modal/phone-list';
@import 'modal/phone-list-footer';
@import 'modal/modal-channels-list';
@import 'modal/paragraph-list';
