.price {
  display: inline-block;
  position: relative;
  font-family: $font__heading;
  line-height: 1em;
}

.price__prefix {
  position: relative;
  top: rem(-6);
  line-height: 0;
  display: block;
  font-family: $font__text--regular;
  font-size: rem(11);
  text-align: left;

  @include media($media__m) {
    top: 0;
  }
}

.price__integer {
  font-size: 1em;
  letter-spacing: letter-spacing(-30);
  line-height: 1em;
}

.price__side-wrapper {
  position: relative;
  left: .1em;
}

.price__cents {
  position: relative;
  top: -.72em;
  font-size: .5em;
  letter-spacing: letter-spacing(-60);
  line-height: 1em;
}

.price__suffix {
  position: absolute;
  bottom: 0.55em;
  left: 0;
  font-size: .25em;
  letter-spacing: letter-spacing(-20);
  line-height: 1em;

  @include media($media__m) {
    bottom: .95em
  }

  span {
    vertical-align: top;
    line-height: 1em;
  }
}

.price--small {
  font-size: rem(32);

  @include media($media__m) {
    font-size: rem(42);
  }
}

.price--small-medium {
  font-size: rem(60);

  @include media($media__m) {
    font-size: rem(57);
  }
}

.price--medium {
  font-size: rem(34);

  @include media($media__m) {
    font-size: rem(96);
  }
}

.price--large {
  font-size: rem(43);

  @include media($media__m) {
    font-size: rem(90);
  }

  @include media($media__l) {
    font-size: rem(112);
  }
}

.price-simple {
  display: inline-block;
  width: auto;
}

.price-animated-text {
  opacity: 0;
  transition: opacity 377ms;
}

.price-animated-text--show {
  opacity: 1;
}
