.animated-background {
  position: relative;
  pointer-events: none;

  > * {
    position: relative;
    z-index: 100;
  }
}

.animated-background-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

//
// some gradients still commented to be used on future
//
.animated-background-gradient { // .animated-background--purple
  background-color: $color__purple;
  height: 100%;
  position: absolute;
  transition: transform 210ms ease;
  width: 400%;
  @include media($media__l) {
    background-image: linear-gradient(135deg, $color__purple 25%, $color__blue 90%);
    height: 400%;
    transition: transform 1597ms ease-in-out;
    width: 400%;
  }
}

.animated-background--purple {
  .animated-background-gradient {
    background-color: $color__purple;
    @include media($media__l) {
      background-image: linear-gradient(135deg, $color__purple 25%, $color__blue 90%);
      .home & {
        background-image: linear-gradient(135deg, #D82482 0%, $color__purple 30%, $color__purple 70%, $color__blue 100%);
      }
    }
  }
}

.animated-background--pink {
  .animated-background-gradient {
    background-color: $color__pink;
    @include media($media__l) {
      background-image: linear-gradient(135deg, $color__pink 0%, $color__orange 100%);
      .home & {
        background-image: linear-gradient(135deg, #D82482 0%, $color__orange 30%, $color__orange 70%, $color__yellow 100%);
      }
    }
  }
}

.animated-background--green {
  .animated-background-gradient {
    background-color: $color__blue;
    @include media($media__l) {
      background-image: linear-gradient(135deg, $color__blue 0%, $color__green 100%);
      .home & {
        background-image: linear-gradient(135deg, $color__blue 0%, $color__blue 30%, $color__green 90%, $color__green 100%);
      }
    }
  }
}


//
// modal gradients
//
.animated-background--modal {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.animated-background--modal-purple {
  .animated-background-gradient {
    // background-image: linear-gradient(0deg, $color__purple 0%, $color__blue 100%);
    background-color: $color__purple;

    @include media($media__l) {
      background-image: linear-gradient(180deg, $color__purple 0%, $color__blue 130%);
    }
  }
}

.animated-background--modal-pink {
  .animated-background-gradient {
    background-color: $color__pink;

    @include media($media__l) {
      background-image: linear-gradient(180deg, $color__pink 0%, $color__orange 140%);
    }
  }
}

.animated-background--modal-orange {
  .animated-background-gradient {
    background-color: $color__pink;

    @include media($media__l) {
      background-image: linear-gradient(180deg, $color__pink 0%, $color__orange 180%);
    }
  }
}
