.table--banda-larga {
  @include set-tables-fixed-and-scroll-widths(rem(78), rem(184), rem(240), rem(234));

  .table__fixed {
    position: absolute;
  }

  .table__scroll {
    position: relative;
  }

  .table__fixed__col-0 {
    width: 100%;
  }

  .table__scroll__col-0 {
    @include media($media__l) { width: rem(208); }
    @include media($media__xl) { width: rem(277); }
  }

  .table__scroll__col-1 {
    @include media($media__l) { width: rem(208); }
    @include media($media__xl) { width: rem(277); }
  }

  .table__scroll__col-2 {
    @include media($media__l) { width: rem(164); }
    @include media($media__xl) { width: rem(226); }
  }

  .table__scroll__col-3 {
    @include media($media__l) { width: rem(140); }
  }

  small {
    position: relative;
    top: rem(-2);
    left: rem(9);
  }

  .stamp {
    opacity: 0;

    &.bounceInStamp {
      opacity: 1;
    }
  }

  .table__title-subtitle {
    display: block;

    > span {
      margin-top: rem(30);
      display: block;
    }

    small {
      left: 0;
      top: 0;
      position: static;
      display: block;
      min-width: rem(120);
      padding-top: rem(3);

      p {
        padding-top: rem(2);
      }
    }
  }

  .table__selector-bestOffer {
    opacity: 0;
  }
}
