.table--pre-pago {

  &:before {
    height: rem(49);
  }

  &:first-child {
    @include set-tables-fixed-and-scroll-widths(rem(88), rem(130), rem(212), rem(234));

    background-image: none;

    @include media($media__l) {
      @include bg-table-line(rem(41), rem(2));
    }

    &:before {
      display: block;
      @include bg-table-line(rem(41), rem(2));

      @include media($media__l) {
        display: none;
      }
    }

    .table__fixed:before,
    .table__scroll:before {
      top: rem(41);
    }

    th {
      height: rem(40);
      vertical-align: bottom;

      > span {
        display: block;
        padding-bottom: rem(8);
      }

      &:nth-child(3) {
        > span {
          top:  rem(-10);
          position: relative;
        }
      }
    }
  }

  &:last-child {
    @include set-tables-fixed-and-scroll-widths(rem(88), rem(141), rem(212), rem(299));
    background-image: none;

    @include media($media__l) {
      @include bg-table-line(rem(41), rem(2));
      padding-bottom: rem(85);
    }

    &:before {
      display: block;
      @include bg-table-line(rem(29), rem(2));

      @include media($media__m) {
        @include bg-table-line(rem(41), rem(2));
      }

      @include media($media__l) { display: none; }
    }

    tr:last-child {
      td:last-child {
        text-align: left;
      }
    }

    .variant-hover {
      @include media($media__xl) { margin-top: rem(42); }
    }

    .variant-hover--1 {
      height: rem(167);

      @include media($media__m) {
        height: rem(241);
      }
    }

    .table__fixed {
      tr:last-child {
        &:after,
        td {
          height: rem(168);

          @include media($media__m) { height: rem(240); }
          @include media($media__xxl) { height: rem(241); }
          @include media($media__4k) { height: rem(240); }
        }
      }
    }

    .table__fixed__col-0 {
      @include media($media__l) { width: rem(164); }
      @include media($media__xl) { width: rem(200); }
    }

    .table__fixed__col-1 {
      @include media($media__l) { width: 100%; }
    }

    .table__fixed--scrolling:after,
    .table__fixed--scrolling:before {
      bottom: rem(2);
      top: rem(29);
      height: auto;
    }

    .table__scroll {

      td:nth-child(2) {
        line-height: 1.3em;
      }

      .table__tr--selected + tr:last-child,
      .table-element--over + tr:last-child {
        td {
          &:before {
            @include horizontal-after-line(rgba($color__black, .2), 100%);
            top: rem(1);
          }
        }
      }

      .table-element--over + tr:last-child {
        td {
          color: $color__white;
        }

        small {
          color: $color__white;
        }

        svg {
          fill: $color__white;
        }

        .button {
          background-color: $color__yellow;

          & + small {
            color: $color__black;
          }
        }
      }
    }

    .table__scroll__col-0 {
      @include media($media__l) { width: rem(164); }
      @include media($media__xl) { width: rem(100); }
    }

    .table__scroll__col-1 {
      @include media($media__xl) { width: rem(639); }
    }

    .table__scroll__col-2 {
      width: 0;
      @include media($media__l) { width: rem(130); }
    }
  }

  .table__fixed {
    position: absolute;
  }

  .table__scroll {
    position: relative;
  }

  .variant-hover {
    margin-top: rem(41);
  }

  .table__fixed__col-0 { width: 100%; }

  .table__scroll__col-0 {
    @include media($media__l) { width: rem(113); }
    @include media($media__xl) { width: rem(159); }
  }

  .table__scroll__col-1 {
    @include media($media__l) { width: rem(164); }
    @include media($media__xl) { width: rem(195); }
  }

  .table__scroll__col-2 {
    @include media($media__l) { width: rem(174); }
    @include media($media__xl) { width: rem(237); }
  }

  .table__scroll__col-3 {
    @include media($media__l) { width: rem(164); }
    @include media($media__xl) { width: rem(198); }
  }

  .table__scroll__col-4 {
    @include media($media__l) { width: rem(130); }
  }
}
