@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeIn {
  animation-duration: 0.233s;
  animation-name: fadeIn;
}

.fadeOut {
  animation-duration: 0.233s;
  animation-name: fadeOut;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.377s;
}


@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
  animation-duration: 0.377s;
}


@keyframes strokeOpacity {
  0%,  {
    opacity: 0;
  }

  10%, 90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.strokeOpacity {
  animation-name: strokeOpacity;
  animation-duration: 1.5s;
}

@keyframes bounceInStamp {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: rotate(-25deg) scale3d(.3, .3, .3);
  }

  20% {
    transform: rotate(-25deg) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: rotate(-25deg) scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: rotate(-25deg) scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: rotate(-25deg) scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: rotate(-25deg) scale3d(1, 1, 1);
  }
}

.bounceInStamp {
  animation-name: bounceInStamp;
  animation-duration: .6s;
}
