h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
}

h2 {
  font-size: rem(35);
}

h3 {
  font-size: rem(28);
}

h5 {
  font-size: rem(16);
}

hgroup {
  font-family: $font__heading;
}

a {
  position: relative;
  text-decoration: none;
  color: $color__white;
  cursor: pointer;

  &:active {
    top: rem(1.2);
  }
}

/**
 *
 * Bullet
 *
 * Bullet has a proportional size agains the text headline
 * Keep this only on headlines
 *
 * **/
.heading-bullet {
  position: relative;
  top: -0.21em;
  display: inline-block;
  width: 0.3125em;
  height: 0.3125em;
  border-radius: 50%;
  background-color: $color__gray--light;
}

/**
 *
 * Hashtag
 *
 * Used on table heading to indicate some heading tags
 *
 * **/
.hashtag {
  display: inline-block;
  padding: rem(5) rem(10);
  border-radius: $border-radius-width;
  background-color: $color__purple;
  color: $color__white;
  font-size: rem(11);
}

/**
 *
 * Stamp
 *
 * Used to show the stamp seal on table and other things
 *
 * **/
.stamp {
  @include circle(rem(50));
  position: absolute;
  padding-top: rem(13);
  font-size: rem(11);
  background: $color__yellow;
  transform: rotate(-25deg);
  text-align: center;
  z-index: 5;

  @include media($media__xl) {
    left: rem(41);
  }
}

strong {
  font-family: $font__text--bold;
}

sup {
  font-size: 65%;
  position: relative;
  top: rem(-6);
}

/**
 *
 * Font
 *
 * Font and number * 7
 * Example:
 * .font2 * 7 = rem(14)
 * .font3 * 7 = rem(21)
 *
 * **/

@for $n from 1 through 16 {
  .fontsize-multiply-responsive-#{$n} {
    font-size: rem(sum-multiply($n, 6)) !important;
    line-height: 0.9em;

    @include media($media__m) {
      font-size: rem(sum-multiply($n, 4)) !important;
    }

    @include media($media__l) {
      font-size: rem(sum-multiply($n, 2)) !important;
    }

    @include media($media__xl) {
      font-size: rem($n * 7) !important;
    }
  }

  .fontsize-multiply-#{$n} {
    font-size: rem($n * 7) !important;
    line-height: 0.9em;
  }
}
